@model List<Labostic.Models.Services>
@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model.Take(1))
{
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <h2>@item.Name</h2>
                </div>
                <div class="breadcrumb">
                    <span class="passage"><a href="index.html" style="text-decoration: none;">Home</a></span>
                    <span class="details">@item.Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
                <div class="service-detail">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="service-menu">
                                    <ul>
                                        <li class="passiv">
                                            <a asp-controller="services" asp-action="index">Advanced Robotics</a>
                                        </li>
                                        <li class="passiv ">
                                            <a asp-controller="services" asp-action="two">Anatomic Pathology</a>
                                        </li>
                                        <li class="passiv">
                                            <a asp-controller="services" asp-action="three">Chemical Research</a>
                                        </li>
                                        <li class="passiv">
                                            <a asp-controller="services" asp-action="four">Chemistry & Hematology</a>
                                        </li>
                                        <li class="passiv">
                                            <a asp-controller="services" asp-action="five">Environmental Testing</a>
                                        </li>
                                        <li class="passiv">
                                            <a asp-controller="services" asp-action="six">Lab Test Directory</a>
                                        </li>

                                    </ul>

                                </div>
                                <div class="download">
                                    <ul class="download-ul">
                                        <li>
                                            <i class="far fa-file-pdf"></i>
                                            <div class="download-button">
                                                <h4>Our Brouchers</h4>
                                                <a asp-controller="Services" asp-action="ExportBlog" title="Download" asp>Download</a>
                                            </div>

                                        </li>
                                        <li>
                                            <i class="far fa-file-pdf"></i>
                                            <div class="download-button">
                                                <h4>Laboratory Details</h4>
                                                <a href="">Download</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="how-help">
                                    <div class="bg">
                                        <div class="wrapper">
                                            <div class="inner">

                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="layer">
                                                <div class="bglayer"></div>
                                                <div class="darkgrey">
                                                    <div class="colbg-layer">
                                                        <div class="layer-inner"></div>
                                                    </div>
                                                    <div class="layer-content">
                                                        <div class="icon">
                                                            <i class="fas fa-flask"></i>
                                                        </div>
                                                        <h4>How Can We Help?</h4>
                                                        <p>
                                                            If you need any helps,please feel free to contact us.
                                                        </p>
                                                        <ul>
                                                            <li>
                                                                <i class="fas fa-phone-alt"></i>
                                                                +1800-123-456-78
                                                            </li>

                                                            <li>
                                                                <i class="far fa-envelope"></i>
                                                                <a href="mailto:info@info@laboratory.com">info@laboratory.com</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="tag">
                                    <div class="tag-title">
                                        <h3>Popular Tags</h3>
                                    </div>
                                    <div class="tag-squar">
                                        <a href="" class="cloud">Laboratory specimen</a>
                                        <a href="" class="cloud">Wet lab</a>
                                        <a href="" class="cloud">Reagent bottle</a>
                                        <a href="" class="cloud">Gemological</a>
                                        <a href="" class="cloud">Laboratory safety</a>
                                        <a href="" class="cloud">equipment‎</a>
                                        <a href="" class="cloud">Biochemistry research</a>
                                        <a href="" class="cloud">Commercial</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="content-right">
                                    <div class="picture">
                                        <img src="/@item.Image" alt="">
                                    </div>
                                    <div class="desc">
                                        <h4>
                                            @item.Title

                                        </h4>

                                        <p class="lastP">

                                            @item.Desc

                                        </p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="desc-under">
                                                    <div class="icon">
                                                        <i class="@item.Icon"></i>

                                                    </div>
                                                    <div class="desc-content">
                                                        <div class="title">
                                                            <h5>
                                                                @item.IconTitle
                                                            </h5>

                                                        </div>
                                                        <div class="explain">
                                                            <p>
                                                                @item.IconDesc
                                                            </p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="desc-under">
                                                    <div class="icon">
                                                        <i class="@item.IconTwo"></i>

                                                    </div>
                                                    <div class="desc-content">
                                                        <div class="title">
                                                            <h5>
                                                                @item.IconTitleTwo
                                                            </h5>

                                                        </div>
                                                        <div class="explain">
                                                            <p>
                                                                @item.IconDescTwo
                                                            </p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="desc-under">
                                                    <div class="icon">
                                                        <i class="@item.IconThree"></i>

                                                    </div>
                                                    <div class="desc-content">
                                                        <div class="title">
                                                            <h5>
                                                                @item.IconTitleThree
                                                            </h5>

                                                        </div>
                                                        <div class="explain">
                                                            <p>
                                                                @item.IconDescThree
                                                            </p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="desc-under">
                                                    <div class="icon">
                                                        <i class="@item.IconFour"></i>
                                                    </div>
                                                    <div class="desc-content">
                                                        <div class="title">
                                                            <h5>
                                                                @item.IconTitleFour
                                                            </h5>

                                                        </div>
                                                        <div class="explain">
                                                            <p>
                                                                @item.IconDescFour
                                                            </p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-service">
                                                <div class="col">
                                                    <div class="row  ">
                                                        <div class="research single-item"
                                                             style="padding:0px !important">
                                                            <div class=" picture item">
                                                                <img src="/@item.ImageTwo" alt="">
                                                                
                                                            </div>
                                                            <div class=" picture item">
                                                                <img src="/@item.ImageThree" alt="">
                                                               
                                                            </div>
                                                            <div class=" picture item">
                                                                <img src="/@item.ImageFour" alt="">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- <button type="button" class="slick-prev" id="prev"> -> </button>
                                                <button type="button" class="slick-next" id="next"> -> </button> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h4>@item.TitleTwo</h4>
                                                <p>
                                                    @item.DescTwo
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul class="list">
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>Maecenas sed lorem eu dolor sodales facilisis.</p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>
                                                            Cras tristique elit nec ligula ornare commodo.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>
                                                            Sed vitae orci suscipit, aliquam metium sapien.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>
                                                            Vestibulum placerat ligula eget dapibus sodales.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>
                                                            Nullam sed ligula at tellus volutpat pharetra.
                                                        </p>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul class="list">
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>Maecenas sed lorem eu dolor sodales facilisis.</p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>Maecenas sed lorem eu dolor sodales facilisis.</p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>Maecenas sed lorem eu dolor sodales facilisis.</p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>Maecenas sed lorem eu dolor sodales facilisis.</p>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-minus"></i>
                                                        <p>Maecenas sed lorem eu dolor sodales facilisis.</p>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>}