@model List<Labostic.Models.Skill>
@{
    ViewData["Title"] = "Index";
    int firstRow = (int)((ViewBag.CurrentPage - 1) * ViewBag.DataPage);
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <h5 class="page-title">Dashboard</h5>
                        <ul class="breadcrumb ml-2">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="index.html">Doctor Dashboard</a></li>
                            <li class="breadcrumb-item active">Skill</li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto text-right">
                    <a class="btn btn-white filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="feather-filter"></i>
                    </a>
                </div>
            </div>
        </div>

        <form action="#" method="post" id="filter_inputs">
            <input type="hidden" name="csrf_token_name" value="4a0efd10c152f3f6117fec6b1be8e87e" />
            <div class="card filter-card">
                <div class="card-body pb-0">
                    <div class="row filter-row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label>Patient ID</label>
                                <input class="form-control" type="text" name="from">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label>Patient Name</label>
                                <input class="form-control" type="text" name="from">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <input class="form-control" type="text" name="to">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-sm-12">
                <div class="create-everything" style="padding-bottom: 6px;  ">
                    <a class="button-create text-white bg-theme-1 shadow-md mr-2" asp-area="admin" asp-controller="Skill" asp-action="create" style="font-size:14px; padding:13px 24px 16px 23px; background:#323584;">Create Skill</a>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = firstRow;}

                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>@item.Name</td>

                                            <td class="text-right d-flex">
                                                <a asp-area="admin" asp-controller="Skill" asp-action="update" asp-route-skillId="@item.Id" class="btn btn-sm btn-white text-success mr-2 d-flex"><i class="far fa-edit mr-1"></i> Edit</a>

                                                <a asp-area="admin" asp-controller="Skill" asp-action="delete" asp-route-skillId="@item.Id" onclick="return confirm('Are you sure?')" class="btn btn-sm btn-white text-danger mr-2 d-flex"><i class="far fa-trash-alt mr-1"></i>Delete</a>
                                            </td>
                                            <td class="text-right d-flex">
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" asp-area="admin" asp-controller="Skill" asp-action="index" asp-route-page="1">Previous</a></li>
                @for (int j = 1; j <= ViewBag.PageCount; j++)
                {
                    <li class="page-item"> <a class="page-link @(j==ViewBag.CurrentPage ?"pagination__link--active":"")" asp-area="admin" asp-controller="Skill" asp-action="index" asp-route-page="@j">@j</a> </li>
                }
                <li class="page-item"><a class="page-link" asp-area="admin" asp-controller="Skill" asp-action="index" asp-route-page="@ViewBag.PageCount">Next</a></li>
            </ul>
        </nav>
    </div>
</div>


